* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  max-width: 1440px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.65rem;
  color: #000;
  margin: 0 auto;
}
.page {
  background: url(./images/hero.png) no-repeat;
  background-position: 26.25rem -3rem;
}
.content {
  display: flex;
  align-items: center;
  padding: 0 10rem;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__link {
  padding-right: 4rem;
  color: rgb(80, 95, 152);
}
.menu a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.btn {
  display: inline-block;
  min-width: 10rem;
  height: 1.65rem;
  border-radius: 0.15rem;
  text-align: center;
  align-content: center;
  padding: 0 1rem;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn:hover {
  transform: scale(1.2);
}

.btn_black {
  background-color: rgb(17, 27, 71);
  color: #fff;
}
.btn_light {
  background-color: none;
  color: #333;
  border: 0.2rem solid black;
}
.title {
  font-weight: 500;
  color: rgb(9, 17, 51);
}
.text {
  color: rgb(80, 95, 152);
}
.img-container {
  width: 100%;
}
.header {
  width: 100%;
  height: 3.75rem;
  padding: 1.5rem 0;
  margin-bottom: 5rem;
}
.header__content {
}
.header__navigation {
  display: flex;
  width: calc(100% / 3);
}
.header__menu {
  justify-content: space-between;
}
.header__titile {
  width: calc(100% / 3);
  font-size: 1.65rem;
  font-weight: 900;
  line-height: 2.4rem;
  text-align: center;
  color: rgb(55, 68, 126);
}
.header__btn {
  width: calc(100% / 3);
  text-align: end;
}
.main {
}
.hero {
  width: 100%;
  height: 55.75rem;
  margin-bottom: 5rem;
}
.hero__content {
  height: 100%;
  padding-bottom: 7rem;
}
.hero__text-container {
  width: 33.75rem;
  padding: 5rem 0;
}
.hero__title {
  font-size: 3rem;
  line-height: 4rem;
  margin-bottom: 1.5rem;
}
.hero__text {
  margin-bottom: 3.5rem;
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.hero__btns {
  margin: 1.5rem 0;
}
.hero__btns a {
  width: 12rem;
  height: 2.25rem;
  margin-right: 1.5rem;
}
.demo {
  width: 100%;
  height: 41.5rem;
  margin-bottom: 5rem;
}
.demo__content {
  padding-top: 4.75rem;
  padding-bottom: 1.75rem;
}
.demo__body-container {
  width: 50%;
  padding: 5rem 0;
}
.demo__text-container {
  width: 33.75rem;
  margin-bottom: 3.5rem;
}
.demo__title {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}
.demo__text {
  margin-bottom: 1.5rem;
}
.demo__cards {
  display: flex;
  gap: 2rem;
}
.demo__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.demo__card__icon {
  width: 2.25rem;
  height: 2.25rem;
  text-align: start;
}
.demo__card__title {
}
.demo__card__text {
  font-size: 0.85rem;
  color: rgb(93, 105, 112);
}
.demo__img-container {
  width: 50%;
  text-align: center;
}
.demo__img {
}
.description {
  width: 100%;
  margin-bottom: 5rem;
}
.description__content {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
}
.description__flex-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.description__card {
  display: flex;
}
.description__img-container {
  width: 50%;
}
.description__img {
}
.description__card__text-container {
  width: 50%;
  padding: 3rem 1rem 3rem 6rem;
}
.description__title {
  font-size: 2.25rem;
  line-height: 3rem;
  margin-bottom: 1rem;
}
.description__text {
  margin-bottom: 1.5rem;
}
.description__btn {
}
.price {
  width: 100%;
  background: url('./images/price-background.png') no-repeat;
  background-position: -37rem 0;
}
.price__content {
  display: flex;
  flex-direction: column;
  padding: 10rem;
}
.price__title {
  font-size: 2.25rem;
  line-height: 3rem;
}
.price__text {
  width: 37.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
.price__subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.65rem;
  color: rgb(55, 68, 126);
  margin-bottom: 3rem;
}
.price__subtitle__text {
  color: rgb(93, 105, 112);
  margin-bottom: 0.5rem;
}
.price__btn {
}
.footer {
  width: 100%;
  background-color: #e7ecff;
}
.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__copyrights {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3rem 0;
}
.footer__copyright {
  width: calc(100% / 3);
  font-size: 0.85rem;
  font-weight: 500;
  line-height: 1.5rem;
  color: rgb(147, 158, 164);
}
.footer__title {
  width: calc(100% / 3);
  font-size: 1.65rem;
  font-weight: 900;
  line-height: 2.4rem;
  text-align: center;
  color: rgb(55, 68, 126);
}
.footer_btn {
  width: calc(100% / 3);
  text-align: end;
  font-size: 0.75rem;
}
.footer_hr {
  width: 100%;
  border: none;
  background-color: #cdd1d4;
  height: 2px;
}
.footer__navigation {
  width: 100%;
  display: flex;
  padding: 2rem 0;
}
.footer__menu {
  justify-content: start;
  font-size: 0.85rem;
}
.footer__menu a {
  color: rgb(146, 158, 204);
}
