* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  max-width: 1440px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  font-weight: 400;
  line-height: 1.7vw;
  color: #000;
  margin: 0 auto;
}
.page {
  background: url(./images/hero.png) no-repeat;
  background-position: 28.33vw -3.33vw;
  background-size: contain;
}
.content {
  display: flex;
  align-items: center;
  padding: 0 11vw;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu__link {
  padding-right: 4.4vw;
  color: rgb(80, 95, 152);
}
.menu a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
.btn {
  display: inline-block;
  min-width: 11vw;
  height: 1.7vw;
  border-radius: 2px;
  text-align: center;
  align-content: center;
  padding: 0 1.1vw;
  cursor: pointer;
  transition: 0.5s ease;
}
.btn:hover {
  transform: scale(1.2);
}

.btn_black {
  background-color: rgb(17, 27, 71);
  color: #fff;
}
.btn_light {
  background-color: none;
  color: #333;
  border: 3px solid black;
}
.title {
  font-weight: 500;
  color: rgb(9, 17, 51);
}
.text {
  color: rgb(80, 95, 152);
}
.img-container {
  width: 100%;
}
.header {
  width: 100%;
  height: 4.5vw;
  padding: 1.6vw 0;
  margin-bottom: 5.5vw;
}
.header__content {
}
.header__navigation {
  display: flex;
  width: calc(100% / 3);
}
.header__menu {
  justify-content: space-between;
}
.header__titile {
  width: calc(100% / 3);
  font-size: 1.7vw;
  font-weight: 900;
  line-height: 2.6vw;
  text-align: center;
  color: rgb(55, 68, 126);
}
.header__btn {
  width: calc(100% / 3);
  text-align: end;
}
.main {
}
.hero {
  width: 100%;
  margin-bottom: 5.5vw;
}
.hero__content {
  height: 100%;
  padding-bottom: 7.78vw;
}
.hero__text-container {
  width: 37.5vw;
  padding: 5.56vw 0;
}
.hero__title {
  font-size: 3.33vw;
  line-height: 4.44vw;
  margin-bottom: 1.67vw;
}
.hero__text {
  margin-bottom: 3.9vw;
  font-size: 1.11vw;
  line-height: 2vh;
}
.hero__btns {
  margin: 1.67vw 0;
}
.hero__btns a {
  width: 13.33vw;
  height: 2.5vw;
  margin-right: 1.67vw;
}
.demo {
  width: 100%;
  height: 41.67vw;
  margin-bottom: 5.56vw;
}
.demo__content {
  padding-top: 5.28vw;
  padding-bottom: 1.94vw;
}
.demo__body-container {
  width: 50%;
  padding: 5.56vw 0;
}
.demo__text-container {
  width: 37.5vw;
  margin-bottom: 3.9vw;
}
.demo__title {
  font-size: 2.5vw;
  line-height: 3.33vw;
  margin-bottom: 1.11vw;
}
.demo__text {
  margin-bottom: 1.67vw;
}
.demo__cards {
  display: flex;
  gap: 2.22vw;
}
.demo__card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.11vw;
}
.demo__card__icon {
  width: 2.5vw;
  height: 2.5vw;
  text-align: start;
}
.demo__card__title {
}
.demo__card__text {
  font-size: 0.95vw;
  color: rgb(93, 105, 112);
}
.demo__img-container {
  width: 50%;
  text-align: center;
}
.demo__img {
  width: 100%;
}
.description {
  width: 100%;
  margin-bottom: 5.56vw;
}
.description__content {
  padding-top: 1.95vw;
  padding-bottom: 1.95vw;
}
.description__flex-container {
  display: flex;
  flex-direction: column;
  gap: 5.56vw;
}
.description__card {
  display: flex;
}
.description__img-container {
  width: 50%;
}
.description__img {
  width: 100%;
}
.description__card__text-container {
  width: 50%;
  padding: 3.33vw 1.11vw 3.33vw 6.67vw;
}
.description__title {
  font-size: 2.5vw;
  line-height: 3.33vw;
  margin-bottom: 1.11vw;
}
.description__text {
  margin-bottom: 1.67vw;
}
.description__btn {
}
.price {
  width: 100%;
  height: 100%;
  background: url('./images/price-background.png') no-repeat;
  background-position: -49vw 0;
  background-size: 177vw;
}
.price__content {
  display: flex;
  flex-direction: column;
  padding: 11.11vw;
}
.price__title {
  font-size: 2.5vw;
  line-height: 3.33vw;
}
.price__text {
  width: 42vw;
  text-align: center;
  margin-bottom: 1.67vw;
}
.price__subtitle {
  font-size: 1.11vw;
  font-weight: 400;
  line-height: 1.83vw;
  color: rgb(55, 68, 126);
  margin-bottom: 3.33vw;
}
.price__subtitle__text {
  color: rgb(93, 105, 112);
  margin-bottom: 0.56vw;
}
.price__btn {
}
.footer {
  width: 100%;
  background-color: #e7ecff;
}
.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__copyrights {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 3.33vw 0;
}
.footer__copyright {
  width: calc(100% / 3);
  font-size: 0.95vw;
  font-weight: 500;
  line-height: 1.67vw;
  color: rgb(147, 158, 164);
}
.footer__title {
  width: calc(100% / 3);
  font-size: 1.83vw;
  font-weight: 900;
  line-height: 2.67vw;
  text-align: center;
  color: rgb(55, 68, 126);
}
.footer_btn {
  width: calc(100% / 3);
  text-align: end;
  font-size: 0.83vw;
}
.footer_hr {
  width: 100%;
  border: none;
  background-color: #cdd1d4;
  height: 0.15vw;
}
.footer__navigation {
  width: 100%;
  display: flex;
  padding: 2.22vw 0;
}
.footer__menu {
  justify-content: start;
  font-size: 0.95vw;
}
.footer__menu a {
  color: rgb(146, 158, 204);
}

@media (max-width: 780px) and (min-width: 481px) {
  body {
    /* какие-то стили */
  }

  .element {
    /* какие-то стили */
  }
}
